./node_modules
./env
.env
.node_modules
.env
.DS_Store
.vscode
npm-debug.log
yarn-error.log
coverage
dist
build
logs    
*.log
pids    
*.pid
*.seed
*.pid.lock
lib-cov
*.tsbuildinfo
.idea
*.iml
out/
.cache
.temp/
.tmp/
*.local
*.swp
thumbs.db
node_modules/